<ion-header>

  <ion-navbar>

    <ion-buttons start>
      <button ion-button>
        取消
      </button>
    </ion-buttons>

    <ion-title>選擇位置</ion-title>
    <ion-buttons end>
      <ion-spinner name="ios-small" *ngIf="doing"></ion-spinner>
      <button ion-button *ngIf="!doing" (click)="save()">
        确定
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="keyword" [debounce]="500" placeholder="請輸入要搜索的位置" (ionInput)="searchKeyword()"></ion-searchbar>

  <ion-list radio-group [(ngModel)]="activeInfo">
    <ion-item *ngFor="let item of address">
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.address}}</p>
      </ion-label>
      <ion-radio [value]="item.info"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="!isEnd">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
